

#pizza_display_orderNumber{

}

#pizza_display_toppings{
  
}

#pizza_display_size{
  
}

body {
  background-color: black;
  color: red;
}

#pizza_display {
  margin-top: 200px;
  width: 100%;
  display: none;
}

#pizza_picker_form {
  margin: auto;
  width: 90%;
  margin-top: 15%;
}

#pizza_img{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-top: 10%;
  margin-right: 10%;
  width: 70%;
  float: left;
}

.pizza_head{
  text-align: center;
}

h3.pizza_head {
  margin-bottom: 5%;
}